

body {
  /* maybe add categories for background */
 /* background-image: url(https://source.unsplash.com/2560x1440/daily?Japan); */
  background-image: url(https://i.pinimg.com/originals/b8/8e/59/b88e5919775afd0de88efa8ebcaf1250.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Playfair Display", serif;
  color: white;
  margin: 0;
  font-size: 5vw;
  max-width: 100vw;
}

h2 {
  color:white;
  font-size: 2vw;
}

h3 {
  color: white;
  font-size: 1.3vw;
}
a {
  color: white;
  font-size: 1vw;
}


 


.japanese {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
} 

.definition {
  position: fixed;
  top: 54%;
  left: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35ch;
  transform: translate(-50%, -54%);
}

.link {
  position: fixed;
  top: 96%;
  left: 96%;
  color:blue;
}

.furigana {
  position: fixed;
  top: 38%;
  left: 50%;
  letter-spacing: 1.5px;
 
 
}

